.title {
  color: #000;
  font-size: 2em;
  padding-top: 0.5em;
}

.controls {
  display: flex;
  flex-direction: row;
}

.title-container {
  display: flex;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  padding-left: 2em;
  min-height: 3em;
  width: 50%;
  display: flex;
  align-items: center;
  background-color: #F4F2F0;
  border-color: #F4F2F0;
  color: black;
  font-size: 0.6em;
}

.title-container input {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  min-height: 2em;
  font-size: 2em;
  font-weight: bold;
}

.control-btn-container {
  display: flex;
  justify-content: right;
  background-color: #F4F2F0;
  max-height: 3em;
  padding: 0.5em 1em 0.5em 0;
  width: 50%;
}

.control-btn-container button, .control-btn-container input, #color-palette-button span{
  width: 2em;
  height: 2em;
  padding: 0 0 0 0;
  padding: 0.1em;
  margin: 0 0 0 0.2em;
  background-color: #F4F2F0;
  border-color: #F4F2F0;
  color: black;
}

.control-btn-container input {
  height: 1.6em;
  width: 1.6em;
}

#bold-btn, #italic-btn {
  transform: translateY(-5%);
}

#filename-input {
  margin-left: 10px;
}

#content {
  padding: 20px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  outline: none;
  height: 85vh;
  margin: 30px 0;
  color: black;
  background-color: white;
  overflow: auto;
  scrollbar-gutter: stable;
}

#text-container {
  padding: 1em;
  width: 50em;
}