

/* Confetti that stays within the box */
#confetti-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Allow clicks through the canvas */
}

/* Ensures that the content of the widget is properly centered */
.container-widget-text .lines-widget-content {
    z-index: 1; /* Ensure content appears above the canvas */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Style for the controls container within the widget */
.container-widget-text .controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

/* Style for buttons within the widget */
.container-widget-text button {
    background-color: #195B8B;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    margin: 0 10px;
    transition: background-color 0.3s;
}

/* Style for button hover effect within the widget */
.container-widget-text button:hover {
    background-color: #195B8B; /* Darker blue on hover */
}

/* Style for button focus effect within the widget */
.container-widget-text button:focus {
    outline: none;
}

/* Style for the number input field within the widget */
.container-widget-text .number {
    font-size: 60px;
    margin: 0 20px;
    width: 60px; /* Decreased width */
    text-align: center;
    height: 60px;
    border: none;
    background-color: #f8f4f3;
    color: #195B8B;
    
    /* Hide the spinners */
    -moz-appearance: textfield;
}

/* Remove arrows from number input field in WebKit browsers */
.container-widget-text .number::-webkit-outer-spin-button,
.container-widget-text .number::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Style for the confirm button within the widget */
.container-widget-text .confirm-btn {
    background-color: #195B8B;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
}

/* Style for confirm button hover effect within the widget */
.container-widget-text .confirm-btn:hover {
    background-color: #195B8B; /* Darker blue on hover */
}

/* Style for confirm button focus effect within the widget */
.container-widget-text .confirm-btn:focus {
    outline: none;
}

/* Style for the confirmation message container */
.confirmation-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Style for h3 elements within the confirmation message */
.confirmation-message h3 {
    margin: 5px 0; /* Reduced spacing between text */
    color: #195B8B;
    font-size: 24px; /* Increased font size */
}

/* Style for the emoji within the confirmation message */
.confirmation-message .emoji {
    font-size: 50px;
    margin-top: 10px;
}