body {
  font-family: Arial, sans-serif;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #f9f9f9;
  color: black;
  padding: 10px 20px;
  font-size: 25px;
  border: none;
  cursor: pointer;
  border-radius: 16px; /* Rounded corners for the button */
  font-weight: bold;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #f1f1f1;
}

.dropdown-content {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  padding: 10px;
  border-radius: 16px; /* Rounded corners for the dropdown content */
  border: none;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.dropdown-content.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.box {
  background-color: #f1f1f1;
  padding: 20px;
  margin: 5px 0;
  text-align: center;
  border-radius: 16px; /* Rounded corners for each box */
  border: none;
}

.week {
  display: flex;
  justify-content: space-around;
}

.day {
  text-align: center;
  margin: 0 10px;
}

.day p {
  margin: 5px 0;
  font-weight: bold;
}

.mood-icon {
  width: 40px;
  height: 40px;
  margin-top: 10px;
}

.bar-graph {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 100px;
  border: 1px solid #ccc;
  padding: 0px;
  border-radius: 16px; /* Rounded corners for the bar graph container */
  background-color: #fff;
  align-self: flex-end;
  border: none;
}

.bar {
  width: 40px;
  background-color: #4CAF50;
  border-radius: 5px 5px 0 0; /* Rounded corners for the bars */
  height: 100%;
  background-image: linear-gradient(to top, #4CAF50, #FFC107);
}
